* {
  margin: 0;
  padding: 0;
}
@keyframes transitionIn{
  from{
      opacity: 0;
      transform: rotateX(-10deg);
  }
  to{
      opacity: 1;
      transform: rotateX(0);
  }
} 
body{
  overflow-x: hidden;
  animation: transitionIn 4s;  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}
.logo {
  margin: 18px 2px 3px 20px;
}
.tag-3{
  font-size: 25px;
  margin-top: -60px;
  left: 100;
  position: relative;
 left: 80%;
  font-family: Sans-serif;
  /*color: blue;*/
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .nav-links {
    display: flex;
    justify-content: space-around;
            margin-left: 15%;
  }
  .nav-links li {
    list-style: none;
  }
  /* new */
  .nav-links>li{
    display: inline-block;
    margin-left: -5px
}
li:hover>a{
    cursor: pointer;
}
.nav-links>li:hover .dropdown-menu1{
    display: block;
}
.nav-links>li:hover .dropdown-menu3{
    display: block;
}
.nav-links>li:hover .dropdown-menu2{
    display: block;
}
.nav-links>li:hover .dropdown-menu{
    display: block;
}
.dropdown-menu4{
    position: absolute;
    top: 0;
    right: 0;
    -ms-transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    transform:translate(100%,0);
    display: none;
}
.dropdown-menu li:hover>.dropdown-menu4{
    display: block;
}

  .nav-links a {
  /* margin-left: 60px; */
  position: relative;
  left: 10px;
  text-decoration: none;
  color: black;
  font-size: 29px;
  display: block;
  padding: 32px;
  z-index: 999;
  /* margin: 0;
  text-align: center; */
  }
  .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  }
  .dropdown-menu4 {
  display: none;
  position: absolute;
  top: 10%;
  left: -10;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 350px;
  }
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    position: relative;
    left: 0px;
         font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  .dropdown {
    position: relative;
  }
  .dropdown:hover .dropdown-menu {
  display: block;
  }
  
  .dropdown-menu:hover {
  display: block;
  }
  .dropdown-menu li a:hover {
    background-color: #f0f0f0;
  }
  .dropdown-menu1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 230px;
  }
  .dropdown:hover .dropdown-menu2 {
  display: none;
  }
  
  .dropdown-menu1 li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    position: relative;
    left: 0px;
         font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  .dropdown-menu2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 260px;
  }
  
  .dropdown-menu2 li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    position: relative;
    left: 0px;
         font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  .dropdown-menu3 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 280px;
  }
  
  .dropdown-menu3 li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    position: relative;
    left: 0px;
         font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  .dropdown-menu1 li{
    position: relative;
  }
  .dropdown-menu3 li{
    position: relative;
  }
  .dropdown-menu2 li{
    position: relative;
  }
  .dropdown-menu li{
    position: relative;
  }

.nav-links a:hover {
  color: blue;
}
.social-icons {
  margin-right: -29px;
  color: #1437f9;
  text-decoration: none;
  font-size: 27px;
}

.social-icons a {
  display: inline-block;
  margin-right: 16px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 35px;
  height: 6px;
  background-color: black;
  margin: 5px;

}
#myButton {
  background-color: white;
  border-color: blue;
  color: blue;
  padding: 14px 42px;
  font-size: 23px;
  position: relative;
  left: 0px;

}
/* 2nd part */
#img1{
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-top: -20px;
}
.text{
  position: absolute;
  color: white;
}
.h8{
  font-size: 55px;
  color: #eee9e9;
  text-shadow: 2px 2px #000000;
  margin-left: 1060px;
 font-family: Arial, Helvetica, sans-serif;

}
.h5{
      position: relative;
  left: 1150px;
  top: -20px;
  font-size: 30px;
  font-family: FuturaBT;
/*     text-align: center; */
  color: #fdefef;
  text-shadow: 1px 1px #000000;
  width: 600px;
}
span{
  color:cornflowerblue;
}
.link {
  position: relative;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
}

.link a {
  position: relative;
  top:200px;
  display: inline-block;
  color: white;
  font-size: 26px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}
#button1{
      display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 320px;
    height: 60px;
    background-color: #009efd;
    background-image: linear-gradient(77deg,rgba(0,83,206,.9),rgba(0,158,253,.89));
    font-family: FuturaMedium;
    font-size: 29px;
    font-weight: 520;
    letter-spacing: .5px;
    text-align: center;
    color: #fff;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  position: relative;
  left: 1150px;
  top: 80px;
}
.Services {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

.h1-s{
  position: relative;
   top: -40px;
left: -120px;
font-size: 74px;
    font-family: sans-serif;
text-shadow: none;
 padding: 30px; 
color: rgb(0, 0, 0); 
display: inline-block; 
}
.p-s{
text-align: left;
color: grey;
position: relative;
top: -50px;
left: 60px;
text-shadow: none;
  font-size: 50px;
   color: black;
       font-family: sans-serif;
}
.service-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.service-item {
  width: 420px;
  text-align: center;
}

.service-item img {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.service-item h1 {
  font-size: 25px;
  color: black;
position: relative;
top: -170px;
text-shadow: none;
background-color: white;
}

.service-item p {
font-size: 18px;
color: #414040;
text-shadow: none;
position: relative;
top: -120px;
left: -10px;
text-align: center;
}
 .service-item1 p {
font-size: 18px;
color: #414040;
text-shadow: none;
position: relative;
top: -120px;
left: -10px;
text-align: center;
}
#more, #more1, #more2, #more3, #more4, #more5, #more6, #more7{
    color: black;
}
/* new */
.service-item1 {
width: 420px;
text-align: center;
}

.service-item1 img {
width: 100%;
height: auto;
margin-bottom: 80px;
}

.service-item1 h1 {
font-size: 25px;
color: black;
position: relative;
top: -170px;
text-shadow: none;
background-color: white;
}

.service-item1 p {
font-size: 18px;
color: #414040;
text-shadow: none;
position: relative;
top: -100px;
text-align: left;
}
#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}
#more5 {display: none;}
#more6 {display: none;}
#more7 {display: none;}

#button2{
          display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 300px;
    height: 60px;
    background-color: #009efd;
    background-image: linear-gradient(77deg,rgba(0,83,206,.9),rgba(0,158,253,.89));
    font-family: FuturaMedium;
    font-size: 23px;
    font-weight: 520;
    letter-spacing: .5px;
    text-align: center;
    color: #fff;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
padding: 14px 42px;
position: relative;
left: 770px;
top: -20px;
}
#img2{
  position: static;
top: 0;
left: 0;
width: 100%;
height: 60%;
object-fit: cover;
margin-top: -0px;
}
.back-g{
  background-color: #f9f9f9;
   width: 1220px;
height: 390px;
position: relative;
top: -255px;
left: 100px
}
.background {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

.background h1 {
position: relative;
left: 0px;
top: -610px;
  font-size: 45px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
text-shadow: none;
    font-family: sans-serif;
}

.question-mark {
  display: inline-block;
  color: black;
  text-align: center;
  line-height: 30px;
}

.background p {
color: black;
font-size: 20px;
text-shadow: none;
position: relative;
left: 270px;
top: -590px;
/*    text-align: center; */
width: 60%;
}
.columns {
display: flex;
justify-content: space-between;
margin-top: 30px;
position: relative;
top: -570px;
left: 70px;
}

.column {
flex: 4;
gap: 60px;
text-align: center;
position: relative;
}

.column:not(:last-child)::after {
content: "";
position: absolute;
top: 50%;
left: 90%;
transform: translate(0, -50%);
width: 2px;
height: 80%;
background-color: #8b8484;
}

.number {
font-size: 57px;
color: #1a7ce2;
position: relative;
left: 0%;
}
.number1{
font-size: 57px;
color: #1a7ce2;
position: relative;
left: -25%;
}
.number2{
font-size: 57px;
color: #1a7ce2;
position: relative;
left: -27%;
}
#description {
font-size: 20px;
color: grey;
position: relative;
top: 0%;
left: 23%;
text-shadow: none;
}
#description1 {
font-size: 20px;
color: grey;
position: relative;
top: 0%;
left: 1%;
text-shadow: none;
}
#description2{
  font-size: 20px;
  color: grey;
  position: relative;
  top: 0%;
  left: -5%;
  text-shadow: none;
  }
/* conact-section */
.contact-section {
background-color: black;
padding:40px;
text-align: center;
margin-top: -430px;
height: 750px;
}
iframe{
   position: relative;
  left: -492px; 
/*   top: -380px; */ 
  margin-top: -380px;
}
.title {
font-size: 30px;
color: white;
position: relative;
top: 6%;
left: -25%;
font-size: 50px;
}

.dot {
  background-color: blue;
  margin-left: 6px;
} 

.description {
  color: white;
  font-size: 24px;
  position: relative;
  top: 10%;
  left: -22%;
}
.social-icons1 {
  margin-right: 1200px;
  position: relative;
  top: 17%;
  color: blue;
  text-decoration: none;
  font-size: 47px;
}
.logo1{
  margin-top: -1000px;
  margin-left: 1170px;
}
.contact-form {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
margin-top: 300px;
}
.form-group {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 0px;
width: 100%;
max-width: 400px;
}
.fm-1{
position: relative;
top: -230px;
left: 400px;
font-size: 20px;
}
.fm-2{
  position: relative;
top: -233px;
left: 467px;
font-size: 20px;
}
.fm-3{
  position: relative;
top: -150px;
left: -400px;
font-size: 20px;
}
.fm-4{
  position: relative;
top: -225px;
left: 870px;
font-size: 20px;
}
.fm-5{
  position: relative;
top: -120px;
left: 0px;
font-size: 20px;
}
.fm-6{
  position: relative;
top: 0px;
left: -400px;
font-size: 20px;
}
.fm-7{
position: relative;
left: 89%;
top: 10px;
font-size: 20px;
  display: flex;
align-items: center;
}
#agree{
position: relative;
top: 30px;
left: 140px;
font-size: 30px;
}
#file-upload{
width: 221%;
}
#project-details{
background-color: #6c92cc;
border-color: blue;
width: 220%;
}
input{
background-color: #6c92cc;
border-color: blue;
}
label {
display: block;
color: white;
margin-bottom: 5px;
  margin-right: 10px;
position: relative;
left: 0%;

}

input,
textarea {
width: 100%;
padding: 10px;
}

.submit-button {
position: relative;
top: 90px;
left: -120px;
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 25px;
  cursor: pointer;
text-align: center;
   width: 250px;
  border-color: #248ea7;
   border-width: 3px;
}

.submit-button:hover {
  background-color: darkblue;
}
.f-p{
  text-shadow: none;
  color: black;
  position: relative;
  top: 10px;
  left: 1370px;
    font-size: 20px;
}
footer{
  margin-top: 0px;
}
.f-a{
  text-shadow: none;
  color: black;
  position: relative;
  top: -10px;
  left: 30px;
  font-size: 25px;
}
summary{
    position: relative;
  top: -105px;
  left: -146px;
  color: #12127a;
  font-size: 18px;
}
.button{
}
.s-span{
  font-size: 18px;
  color: black;
      position: relative;
  top: -105px;
  left: px;
}
@media screen and (min-width: 1538px){
    iframe{
   position: relative;
  left: -492px; 
/*   top: -380px; */ 
  margin-top: -380px;
}
    .logo1{
  margin-top: -1000px;
  margin-left: 1370px;
}
  .nav-links a {
    position: relative;
    font-size: 29px;
    padding: 30px;
  }
    .nav-links li {
    list-style: none;
      }
  .social-icons {
    margin-right: -29px;
    font-size: 34px;
    position: relative;
    left: -50px;
}
.social-icons a {
    margin-right: 19px;
}
h1{
  position: relative;
  left: 80px;
  top: -180px;
  /*font-size: 70px;*/
}
.h8{
  font-size: 85px;
  position: relative;
  top: -100px;
}
.h1-s{
    font-size: 56px;
font-family: Georgia, serif;
text-shadow: none;
 padding: 30px; 
display: inline-block; 
position: relative;
top: -40px;
left: -0px;
}
.p-s{
text-align: left;
color: #160a0a;
position: relative;
top: -30px;
left: 730px;
text-shadow: none;
  font-size: 50px;
}
  .service-item h1{
    position: relative;
    left: 0px;
  } 
       .service-item1 h1{
    position: relative;
    left: 0px;
  } 
.service-item p {
    font-size: 18px;
    color: #414040;
  text-shadow: none;
  position: relative;
  top: -120px;
  left: -10px;
  text-align: center;
}
     .service-item1 p {
    font-size: 18px;
    color: #414040;
  text-shadow: none;
  position: relative;
  top: -120px;
  left: -10px;
  text-align: center;
}
.background h1 {
  position: relative;
  left: 0px;
  top: -610px;
    font-size: 39px;
}

.background p {
  color: black;
  font-size: 25px;
}
/* new */
    .back-g{
     width: 1520px;
  height: 400px;
  position: relative;
  top: -295px;
}
    .background h1 {
  position: relative;
  top: -680px;
}
.background p {
  position: relative;
  left: 340px;
  top: -630px;
}
    .columns {
position: relative;
top: -600px;
  left: 80px;
}

.number2{
  font-size: 57px;
  color: #1a7ce2;
  position: relative;
  left: -45%;
  }
#description {
position: relative;
top: 0%;
left: 19%;
}
  #description2{
    position: relative;
    top: 0%;
    left: -28%;
    }
    .column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 80%;
}  
.social-icons1 {
  margin-right: 1350px;
}
.contact-form {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
margin-top: 300px;
}
.form-group {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 0px;
width: 100%;
max-width: 400px;
}
.fm-1{
position: relative;
top: -230px;
left: 700px;
}
.fm-2{
  position: relative;
top: -233px;
left: 767px;
}
.fm-3{
  position: relative;
top: -150px;
left: -100px;
}
.fm-4{
  position: relative;
top: -150px;
left: -33px;
}
.fm-5{
  position: relative;
top: -120px;
left: 700px;
}
.fm-6{
  position: relative;
top: 0px;
left: 300px;
}
.fm-7{
position: relative;
left: -18%;
top: 90px;
}
#agree{
position: relative;
top: 107px;
left: -295px;
}  
.submit-button {
position: relative;
top: 90px;
left: 350px;
}
#button2{
          display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 300px;
    height: 60px;
    background-color: #009efd;
    background-image: linear-gradient(77deg,rgba(0,83,206,.9),rgba(0,158,253,.89));
    font-family: FuturaMedium;
    font-size: 23px;
    font-weight: 520;
    letter-spacing: .5px;
    text-align: center;
    color: #fff;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
padding: 14px 42px;
position: relative;
left: 770px;
top: -20px;
}
}
 @media screen and (max-width: 1536px) {
   .title{
     position:relative;
     left: -372px;
     top: 25px;
   }
   .social-icons1{
     position: relative;
     top: 70px;
   }
   .description{
     position: relative;
     top: 40px;
   }
.contact-section {
background-color: black;
padding:40px;
text-align: center;
margin-top: -430px;
height: 750px;
}
   .logo1{
     position: relative;
     left: -80px;
     top: -70px;
   }
iframe{
   position: relative;
/*   left: -492px;  */
  top: -390px; 
       width: 400px;
     height: 400px;
     position: relative;
     left: -460px;
}
   .contact-form {
     width: 270px;
}
   .fm-1{
position: relative;
top: -270px;
left: 710px;
}
.fm-2{
  position: relative;
top: -344px;
left: 437px;
  margin-left: 600px;
}
.fm-3{
position: relative;
top: -330px;
left: 710px;
}
.fm-4{
position: relative;
top: -403px;
left: 1037px;
}
.fm-5{
  position: relative;
top: -390px;
left: 715px;
}
.fm-6{
  position: relative;
top: -370px;
left: 715px;
}
#form6{
  width: 140%;
}
.fm-7{
position: relative;
left:740px;
top: -360px;
font-size: 20px;
}
#agree{
position: relative;
top: -340px;
left: 587px;

}
#project-details{
width: 220%;
}

.submit-button {
position: relative;
top: -130px;
left: 890px;
  margin-top: -200px;
}

   #button2{
position: relative;
left: 770px;
top: -20px;
    margin-left: -190px;
}
  .service-item1{
    display:none;
  }
     .nav-links a {
    position: relative;
    left: -40px;
    font-size: 27px;
    padding: 10px;
  }
  .social-icons {
    margin-right: -29px;
    font-size: 30px;
    position: relative;
    left: -50px;
}
.h8{
  font-size: 55px;
  margin-left: 940px;
     position: relative;
     top: -60px;
}
.h5{
      position: relative;
  left: 950px;
  top: -0px;
  font-size: 30px;
  width: 500px;
}
#button1{
    width: 320px;
    height: 60px;
    font-size: 29px;
  position: relative;
  left: 950px;
  top: 80px;
}
.h1-s{
    font-size: 37px;
font-family: Georgia, serif;
text-shadow: none;
 padding: 30px; 
display: inline-block; 
position: relative;
top: -30px;
left: -0px;
}
.p-s{
text-align: left;
color: #160a0a;
position: relative;
top: -30px;
left: 480px;
text-shadow: none;
  font-size: 50px;
}
.f-p{
  text-shadow: none;
  color: black;
  position: relative;
  top: 10px;
  left: 950px;
}
   .background h1{
     font-size: 50px;
     position: relative;
     top: -640px;
     color: black;
   }
#button2{
          display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 300px;
    height: 60px;
    background-color: #009efd;
    background-image: linear-gradient(77deg,rgba(0,83,206,.9),rgba(0,158,253,.89));
    font-family: FuturaMedium;
    font-size: 23px;
    font-weight: 520;
    letter-spacing: .5px;
    text-align: center;
    color: #fff;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
padding: 14px 42px;
position: relative;
left: 770px;
top: -20px;
}
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
/*     overflow: hidden; */
  }

  .container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact-section {
    flex-grow: 1;
    overflow-y: hidden;
    padding-bottom: 30px; /* Adjust the value to reduce the gap at the bottom */
  }
} 
}
@media screen and (max-width: 1393px){
    .h8{
  font-size: 55px;
  font-family: futurabold;
  margin-left: 820px;
     position: relative;
     top: -60px;
}
.h5{
      position: relative;
  left: 820px;
  top: -0px;
  font-size: 20px;
  width: 400px;
}
  .nav-links a{
    font-size: 22px;
  }

#button1{
    width: 240px;
    height: 60px;
    font-size: 23px;
  position: relative;
  left: 830px;
  top: 80px;
}
}
@media  screen and (max-width: 1367px) {
    .contact-section{
          overflow-x: hidden;
    }
.h8{
margin-left: 810px;
}
  .main{
    position: relative;
    left: -20px;
  }
.logo {
  margin: 15px 2px 3px 20px;
}
  .tag-3{
    font-size: 20px;
    width: 200px;
    position: relative;
    left: 200px;
    margin-top: -70px;
  }
  .h5{
    width: 390px;
    font-size: 23px;
    position: relative;
    left: 820px;
  }
  #button1{
    position: relative;
    left: 820px;
  }
 .nav-links a{
      font-size: 24px;
   position: relative;
   left: -100px;
  }
  .social-icons{
    font-size: 25px;
    position: relative;
    left: -140px;
  }
  .h1-s{
    position: relative;
    left:0px;
    font-size: 35px;
    width: 1100px;
  }
  #button2{
    position: relative;
    left: 680px;
  }
  .background h1 {
position: relative;
left: -30px;
  font-size: 40px;
}
  .background p {
font-size: 20px;
position: relative;
left: 190px;
top: -600px;
width: 60%;
}
  .back-g{
  background-color: #f9f9f9;
   width: 980px;
}
  .columns {
position: relative;
top: -570px;
left: 20px;
}
  .title{
    position: relative;
    left: -350px;
  }
  .description{
    position: relative;
    left: -290px;
  }
  .social-icons1{
    width: 150px;
  }
  .logo1{
    position: relative;
    left: -220px;
    top: -56px;
  }
  iframe{
    width: 380px;
    position: relative;
    left: -440px;
  }
  .contact-form{
    position: relative;
    left: -210px;
  }
  .f-p{
    position: relative;
    left: 670px;
  }
}
@media screen and (max-width: 1238px) {
    .nav-links {
      position: absolute;
      right: 10px;
      height: 62vh;
      top: 17vh;
      background-color: rgb(255 255 255);
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      width: 75%;
      transform: translateX(100%);
      transition: transform 0.2s ease-in;
      border: 2px solid gold;
      padding-left: 0px;
    z-index: 999;
  }
    .nav-links li {
        opacity: 1;
        font-size: 25px;
        color: white;
        margin-left: 10px;
    }
/*   .dropdown-menu4{
  margin-left: 40%;
  }
 */
  .cont-d{
            margin-left: 60px;
  }
    .dropdown {
        position: relative;
        left: 60px;
    }
  .drop-down{
      margin-left: 30px;
  }
  .tag-3{
    margin-top: -40px;
  }

    #myButton {
        margin-right: -100px;
    }

    .link {
        visibility: hidden;
    }

    .burger {
        display: block;
    }

    .social-icons {
        margin-left: 550px;
    }

    h1 {
        position: relative;
        left: 0px;
        top: -40px;
        font-size: 67px;
    }

    p {
        position: relative;
        left: 80px;
        top: -20px;
        font-size: 20px;
    }

    #button1 {
        font-size: 23px;
        position: relative;
        left: 90px;
        top: 30px;
    }

    .h8 {
        margin-left: 720px;
        position: relative;
        top: -40px;
    }

    .h5 {
        position: relative;
        left: 730px;
        top: 0px;
        font-size: 20px;
        width: 400px;
    }

    #button1 {
        width: 260px;
        height: 60px;
        font-size: 24px;
        position: relative;
        left: 740px;
        top: 80px;
    }
  .nav-active {
  transform: translateX(0%);
}

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

@media screen and (max-width: 1004px) {
      #myButton{
      margin-right: -00px;
  }
  .social-icons{
      margin-left: -30px;
      
  }
  h1{
      position: relative;
      left: -60px;
      top: -40px;
      font-size: 47px;
  }
  p{
          position: relative;
      left: 10px;
      top: -20px;
      font-size: 17px;
  }
  #button1{
      font-size: 18px;
      position: relative;
      left: 10px;
      top: 0px;
  }
}
@media screen and (max-width: 694px) {
.social-icons{
display: none;
}
          h1{
      position: relative;
      left: -60px;
      top: -31px;
      font-size: 34px;
  }
  p{
          position: relative;
      left: 10px;
      top: -px;
      font-size: 13px;
  }
  #button1{
      font-size: 12px;
      width: 150px;
      position: relative;
      left: 10px;
      top: 0px;
  }
  
}